<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         colors="true"
         processIsolation="false"
         stopOnFailure="false"
         bootstrap="./tests/bootstrap.php">

	<coverage
	 processUncoveredFiles="true">
		<include>
            <!-- Include the source directory for coverage analysis -->
            <directory>src</directory>
        </include>
        <exclude>
            <!-- Exclude certain files or directories (e.g., tests) from the coverage report -->
            <directory>tests</directory>
        </exclude>
	</coverage>
	<testsuites>
        <testsuite name="POData tests">
            <directory>./tests/UnitTests</directory>
            <!--integration tests TBD -->
        </testsuite>
    </testsuites>

</phpunit>